In [ ]:
# Create Code to import data from UGC

## Using Selenium

In [210]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
from selenium.webdriver.chrome.service import Service

# Chrome Version
- Version 129.0.6668.71 (Official Build) (arm64)
- Latest ChromeDriver 114.0.5735.90
- chrome://settings/help
- https://developer.chrome.com/docs/chromedriver/downloads

In [211]:
import time

In [212]:
# Path to your ChromeDriver
cp2 = '/opt/homebrew/bin/chromedriver'  # Replace with the actual path to your chromedriver

??webdriver.chrome

In [213]:
#!pip install webdriver-manager
from webdriver_manager.chrome import ChromeDriverManager

In [214]:
# Open the UGC site
ugc1 = "https://www.ugc.gov.in/universitydetails/university?type=ddmCMsxJZgXH2S/m0uMOKQ=="
url = ugc1; nData = 'ugc_df' 
print(nData, '\n', url)

ugc_df
 https://www.ugc.gov.in/universitydetails/university?type=ddmCMsxJZgXH2S/m0uMOKQ==

In [215]:
#University Details from UGC
#url = n20u; nData = 'n20u'
print(nData, url)

ugc_df https://www.ugc.gov.in/universitydetails/university?type=ddmCMsxJZgXH2S/m0uMOKQ==

In [216]:
#driver.refresh()

In [217]:
cService = webdriver.ChromeService(executable_path='/opt/homebrew/bin/chromedriver')
driver = webdriver.Chrome(service = cService)

In [218]:
driver.get(url)
#driver.maximize_window()
time.sleep(5)  # Adjust time if needed, or you can use Selenium's explicit waits

In [219]:
print(driver.title)

Welcome to UGC, New Delhi, India

## click on View All

In [220]:
btviewall = driver.find_element(By.ID, 'btnall')
btviewall

In [221]:
btviewall.click()

In [222]:
#setoptionValue
btnshow = driver.find_element(By.NAME,'tbl_length')
btnshow

In [223]:
from selenium.webdriver.support.ui import Select

In [224]:
#set option to All
mySelect = Select(btnshow)
mySelect.select_by_visible_text('All')  #easier one
#print(mySelect.text)

In [173]:
btnshow.get_attribute('value')

'-1'

In [225]:
btnshow.text

'25\n50\nAll'

In [226]:
btnshow.get_attribute("innerHTML")

'<option value="25">25</option><option value="50">50</option><option value="-1">All</option>'

## webtable

In [236]:
webtable_df1 = pd.read_html(driver.find_element(By.XPATH, "//table[@id='tbl']").get_attribute('outerHTML'))[0]

/var/folders/z4/8qd93wx14xz1c9qfb_z969wc0000gn/T/ipykernel_10664/3472074773.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  webtable_df1 = pd.read_html(driver.find_element(By.XPATH, "//table[@id='tbl']").get_attribute('outerHTML'))[0]

In [241]:
webtable_df1.head(2)

,Sr.No,Type,Name of the University,Address,Zip,state,Status,URL
0,1,State,"""Kaushalya"" the Skill University","Mahatma Gandhi Labour Institute (MGLI), Drive-...",380052,Gujarat,2(f),View Website
1,2,Private,A.K.S. University,"SherGanj, Satna",485001,Madhya Pradesh,2(f),View Website | View other details

In [238]:
import io

In [240]:
webtable_df2 = pd.read_html(io.StringIO(driver.find_element(By.XPATH, "//table[@id='tbl']").get_attribute('outerHTML')))[0]
webtable_df2.head(2)

,Sr.No,Type,Name of the University,Address,Zip,state,Status,URL
0,1,State,"""Kaushalya"" the Skill University","Mahatma Gandhi Labour Institute (MGLI), Drive-...",380052,Gujarat,2(f),View Website
1,2,Private,A.K.S. University,"SherGanj, Satna",485001,Madhya Pradesh,2(f),View Website | View other details

## use download csv button

In [34]:

dwcsv = driver.find_element(By.CLASS_NAME, 'dt-button')
dwcsv

In [36]:
dwcsv.click()  #this will download the data

## use download excel button

In [37]:
#use download as excel button
dwexcel = driver.find_element(By.CLASS_NAME, 'buttons-excel')
dwexcel

In [38]:
dwexcel.click()  #this will download the data in excel

## Download Table directly

btviewall = driver.find_element(By.ID, 'btnall')
mySelect = Select(btnshow)
mySelect.select_by_visible_text('All')  #easier one

### identify table rows
- //*[@id="trMale0"]
- //*[@id="tbodyuni"]
- "//*[@class= 'spTable']/tbody/tr")

In [175]:
# to identify the table rows
trows = driver.find_elements(By.XPATH , "//*[@id= 'tbl']/tbody/tr")

In [176]:
print (len(trows))

1186

### Table Headers

In [177]:
th = driver.find_elements(By.XPATH , "//*[@id= 'tbl']/thead/tr/th")
#th

In [178]:
for i in th :
    print (i.text)

Sr.No
Type
Name of the University
Address
Zip
state
Status
URL

### Identify Table in the web page
- there are multiple tables in the web page

In [185]:
tbs = driver.find_elements(By.TAG_NAME, 'table')
tbs[0]

In [186]:
dataTable = driver.find_element(By.ID,'tbl')
dataTable

In [187]:
#driver.refresh()

In [188]:
# Extract table headers
headers = []
header_elements = dataTable.find_elements(By.TAG_NAME, 'th')
for header in header_elements:
    headers.append(header.text.strip())

In [189]:
print(headers), print(len(headers))
# 8 columns

['Sr.No', 'Type', 'Name of the University', 'Address', 'Zip', 'state', 'Status', 'URL']
8

(None, None)

In [190]:
# Extract table rows
rows = []
row_elements = dataTable.find_elements(By.TAG_NAME, 'tr')

In [191]:
print(row_elements[0:5])

[<selenium.webdriver.remote.webelement.WebElement (session="7dc18c3892fab67cd6dafbc7a2c7af69", element="f.0E86ECE63C96E7E1B6FC12BE2E7D0965.d.FC749767E0D6D4A6E56AFA8076167ADE.e.185563")>, <selenium.webdriver.remote.webelement.WebElement (session="7dc18c3892fab67cd6dafbc7a2c7af69", element="f.0E86ECE63C96E7E1B6FC12BE2E7D0965.d.FC749767E0D6D4A6E56AFA8076167ADE.e.185564")>, <selenium.webdriver.remote.webelement.WebElement (session="7dc18c3892fab67cd6dafbc7a2c7af69", element="f.0E86ECE63C96E7E1B6FC12BE2E7D0965.d.FC749767E0D6D4A6E56AFA8076167ADE.e.185565")>, <selenium.webdriver.remote.webelement.WebElement (session="7dc18c3892fab67cd6dafbc7a2c7af69", element="f.0E86ECE63C96E7E1B6FC12BE2E7D0965.d.FC749767E0D6D4A6E56AFA8076167ADE.e.185566")>, <selenium.webdriver.remote.webelement.WebElement (session="7dc18c3892fab67cd6dafbc7a2c7af69", element="f.0E86ECE63C96E7E1B6FC12BE2E7D0965.d.FC749767E0D6D4A6E56AFA8076167ADE.e.185567")>]

In [192]:
# Loop through rows to extract data
for row in row_elements[1:]:  # Skipping the header row
    cols = row.find_elements(By.TAG_NAME, 'td')
    cols = [col.text.strip() for col in cols]
    rows.append(cols)

In [194]:
rows[0:1]

[['1',
  'State',
  '"Kaushalya" the Skill University',
  'Mahatma Gandhi Labour Institute (MGLI), Drive-in Road, Memnagar, Ahmedabad',
  '380052',
  'Gujarat',
  '2(f)',
  'View Website']]

In [195]:
print(len(rows), len(headers))

25 8

In [ ]:
#print(rows[0:300:3])

In [196]:
# Create a DataFrame from the extracted data
df1 = pd.DataFrame(rows[0:len(rows)], columns=headers)

In [197]:
df1.head(2)

,Sr.No,Type,Name of the University,Address,Zip,state,Status,URL
0,1,State,"""Kaushalya"" the Skill University","Mahatma Gandhi Labour Institute (MGLI), Drive-...",380052,Gujarat,2(f),View Website
1,2,Private,A.K.S. University,"SherGanj, Satna",485001,Madhya Pradesh,2(f),View Website |\nView other details

In [198]:
list(df1.columns)

['Sr.No',
 'Type',
 'Name of the University',
 'Address',
 'Zip',
 'state',
 'Status',
 'URL']

In [201]:
df1.columns = ['ser','type','university', 'address','zip', 'state', 'status','url']

In [202]:
df1.head(2)

,ser,type,university,address,zip,state,status,url
0,1,State,"""Kaushalya"" the Skill University","Mahatma Gandhi Labour Institute (MGLI), Drive-...",380052,Gujarat,2(f),View Website
1,2,Private,A.K.S. University,"SherGanj, Satna",485001,Madhya Pradesh,2(f),View Website |\nView other details

In [ ]:
# Close the browser
driver.quit()

In [ ]:
# Display the extracted data
#print(dfNO)

In [205]:
# Save the data to a CSV file
fileLoc  = '/Users/du/dup/auData/journal/'
fileName = fileLoc +  nData + '.csv'
print(nData, fileName)

ugc_df /Users/du/dup/auData/journal/ugc_df.csv

In [206]:
df1.to_csv(fileName, index=False)

In [207]:
import os

In [208]:
print(' '.join(map(str, os.listdir(fileLoc))))

CWTS Journal Indicators March 2024.xlsx scimagojr2023.csv .DS_Store PredQ12StepsWard.pdf ext_list_December_2023.xlsx UGC journal.csv Flow-diagram-of-journal-identification-selection-and-inclusion-in-each-study-group-a.png Journal Evaluation Tool.pdf ugc_df.csv 2021_Book_DataAndInformationInOnlineEnviarrastado.pdf JOURNAL_CHANGE_MONTH_2024_12.xlsx WOS DISCONTINUED JOURNALS DEC 2024.docx thinkchecksubmit.org-Journals.pdf countryRankings.xlsx

## End of Coding

In [209]:
pd.read_csv(fileName).head(2)

,ser,type,university,address,zip,state,status,url
0,1,State,"""Kaushalya"" the Skill University","Mahatma Gandhi Labour Institute (MGLI), Drive-...",380052,Gujarat,2(f),View Website
1,2,Private,A.K.S. University,"SherGanj, Satna",485001,Madhya Pradesh,2(f),View Website |\nView other details