# Selenium
-   x
-

In [4]:
#!pip install selenium

In [86]:
import selenium
import pandas as pd

In [2]:
selenium.__version__
# > 4.11  update if reqd

'4.18.1'

In [28]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

In [29]:
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [30]:
service = Service()

In [31]:
options = webdriver.ChromeOptions()

In [32]:
driver = webdriver.Chrome(service =service, options=options)

In [33]:
#this works fine

In [34]:
n24op = 'https://www.nirfindia.org/Rankings/2024/OverallRankingALL.html'

In [35]:
driver.get(n24op)

In [36]:
#driver.save_screenshot('screenshot.png')

In [37]:
rendered_html = driver.page_source

In [38]:
rendered_html[0:100]

'<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-w'

# Find Elements

In [42]:
ide = driver.find_elements(By.ID,'tblAllInstitutes')

In [60]:
# Find Elements by Xpath
xp1 = "//*[@id='tblAllInstitutes']"
xp2 = "//table[@id='tblAllInstitutes']"

In [81]:
xpe2 = driver.find_elements(By.XPATH,xp2)

In [82]:
type(xpe2)

list

In [83]:
for data in xpe2:
    print(data.text)

Name City State
A G PATIL INSTITUTE OF TECHNOLOGY 18 2A2 PRATANAGER SOREGON ROAD Solapur Maharashtra
A J Institute of Engineering and Technology Mangaluru Mangaluru Karnataka
A M C College of Engineering, Bangalore Bengaluru Karnataka
A. J. K. College of Arts & Science Coimbatore Tamil Nadu
A. M. A. L. Degree College ANAKAPALLE Andhra Pradesh
A. M. College, Gaya ( Anugrah Memorial College, Gaya) Gaya Bihar
A. S. N. Pharmacy College Tenali Andhra Pradesh
A. V. Patel Commerce College BILIMORA Gujarat
A.D.P. College Nagaon Assam
A.N.College Patna Bihar
A.P Residential Degree College NAGARJUNASAGAR Andhra Pradesh
A.R.A. COLLEGE OF PHARMACY, DHULE. Dhule Maharashtra
A.S. College, Lakhaoti (Bulandshahr) Bulandshahr Uttar Pradesh
A.V.C. College of Engineering Mayiladuthurai Tamil Nadu
A.V.D.SAVJANI ARTS & COMMERCE COLLEGE-JAMJODHAPUR Jamjodhpur-360530 Gujarat
AAFT University of Media and Arts Raipur Chhattisgarh
ABES Engineering College Ghaziabad Uttar Pradesh
ABM college. Jamshedpur JAMSHEDPUR Jharkhand
Academy of Maritime Education and Training Kancheepuram Tamil Nadu
Academy of Scientific and Innovative Research Ghaziabad Uttar Pradesh
Accurate Institute of Advanced Management Greater Noida Uttar Pradesh
Acharya Girish Chandra Bose College KOLKATA West Bengal
Acharya Institute of Technology Bengaluru Karnataka
Acharya Instiute Graduate Studies(of Journalism) Bengaluru Karnataka
Acharya N G Ranga Agricultural University Guntur Andhra Pradesh
Acharya Nagarjuna University Guntur Andhra Pradesh
Acharya Narendra Deva University of Agriculture & Technology, Kumarganj, Ayodhya Faizabad Uttar Pradesh
Acharya Patashala College of Commerce Bengaluru Karnataka
Acharya Sukumar Sen Mahavidyalaya, Burdwan Burdwan West Bengal
Acharyas Bangalore B School Bengaluru Karnataka
Achievers College Of Commerce And Management Night College Kalyan Maharashtra
Acropolis Institute Of Technology And Research Indore Madhya Pradesh
Adarsh Arts Commerce College, Desaiganj Desaiganj ( Wadsa ) Maharashtra
ADARSH INSTITUTE OF MANAGEMENT AND INFORMATION TECHNOLOGY Bengaluru Karnataka
Adarsh Shikshan Sanstha`s Kalikadevi Arts, Commerce & Science College Shirur Kasar Maharashtra
Adarsha Edu. Society's Arts Commerce & Science College, Hingoli Hingoli Maharashtra
ADARSHA INSTITUTE OF TECHNOLOGY, LINGADJEERA GOLLAHALLI, DEVANAHALLI Bengaluru Karnataka
Adarsha Science, Jairamdas Bhagchand Arts and Birla Commerce Mahavidyalaya, Dhamangaon Rly. District Amravati Amravati Maharashtra
ADHIPARASAKTHI COLLEGE OF ARTS AND SCIENCE Raniipet Tamil Nadu
Adhiparasakthi College of Engineering Arcot Tamil Nadu
Adhiparasakthi Engineering College Chengalpat Tamil Nadu
Adhiyamaan College of Engineering(Autonomous) Hosur Tamil Nadu
Adichunchanagiri College of Nursing Balagangadharanatha Nagara Karnataka
Adichunchanagiri Institute of Technology Chikmagalur Karnataka
Adichunchanagiri University Mandya Karnataka
Adikavi Nannaya University Rajahmundry Andhra Pradesh
Adithya Institute of Technology Coimbatore Tamil Nadu
Aditya College of Engineering Surampalem Andhra Pradesh
ADITYA COLLEGE OF ENGINEERING Madanapalle Andhra Pradesh
Aditya College of Engineering & Technology Surampalem Andhra Pradesh
Aditya Engineering College Surampalem Andhra Pradesh
Aditya Institute of Technology and Management Tekkali Andhra Pradesh
Adusumilli Gopalakrishnaiah & Sugarcane Growers Siddhartha Degree College of Arts & Science Vuyyuru Andhra Pradesh
Adv.B.D.Hambarde Mahavidyalaya Ashti Ashti Maharashtra
Agarwal Vidya Vihar English Medium College Surat Gujarat
Aggarwal College Dist. Faridabad Haryana
Aghore Kamini Prakash Chandra Mahavidyalaya Arambagh West Bengal
Agni College of Technology Chennai Tamil Nadu
Agrawal P.G. College, Jaipur JAIPUR Rajasthan
Agriculture University,Jodhpur Jodhpur Rajasthan
Ahalia School of Management Palakkad Kerala
Ahmedabad University Ahmedabad Gujarat
AISECT UNIVERSITY Hazaribag Jharkhand
Ajay Binay Institute of Technology, (ABIT), Cuttack CUTTACK Odisha
Ajeenkya D Y Patil University Pune Maharashtra
Ajeenkya DY Patil School of Engineering Pune Maharashtra
Al Shifa College of Pharmacy, Perinthalmanna Malappuram Kerala
Al- Ameen College, Edathala North P.O. Alwaye Ernakulam Kerala
Alagappa Government Arts College Karaikudi Tamil Nadu
Alagappa University Karaikudi Tamil Nadu
ALBERTIAN INSTITUTE OF SCIENCE AND TECHNOLOGY - AISAT KOCHI Kerala
Aldel Education Trusts St. John Institute of Pharmacy, Palghar, Dist Thane Palghar Maharashtra
Aliah University, Kolkata Kolkata West Bengal
Aligarh Muslim University Aligarh Uttar Pradesh
All India Institute of Medical Sciences Bhopal Bhopal Madhya Pradesh
All India Institute of Medical Sciences Delhi New Delhi Delhi
All India Institute of Medical Sciences Jodhpur Jodhpur Rajasthan
All India Institute of Medical Sciences Patna Patna Bihar
All India Institute of Medical Sciences Rishikesh Rishikesh Uttarakhand
All India Shivaji Memorial Societys College of Engineering, Pune Pune Maharashtra
Allahabad Degree College Prayagraj Uttar Pradesh
Alvas Institute of Engineering and Technology, MOODBIDRI Dakshina Kannada Karnataka
AMAL COLLEGE OF ADVANCED STUDIES, MYLADI Nilambur Kerala
Aman Bhalla Institute of Engg. & Tech, Jhakolari, Pathankot Pathankot Punjab
Ambala College of Engineering & Applied Research Ambala Cantt -133101 Haryana
Ambalika Institute of Management and Technology Lucknow Uttar Pradesh
Amity University Gautam Budh Nagar Uttar Pradesh
Amity University North Twenty Four Parganas West Bengal
Amity University Haryana, Gurgaon Gurugram, Haryana Haryana
Amity University Patna Patna Bihar
Amity University Rajasthan,Jaipur Jaipur Rajasthan
Amity University, Gwalior Gwalior Madhya Pradesh
Amity University, Jharkhand Ranchi Jharkhand
Amity University, Mumbai Mumbai Maharashtra
Amity University, Raipur Raipur Chhattisgarh
AMJAD ALI KHAN COLLEGE OF BUSINESS ADMINISTRATION Hyderabad Telangana
Amrapali Institute of Hotel Management Haldwani Uttarakhand
Amrita College of Engineering and Technology, Nagercoil NAGERCOIL Tamil Nadu
Amrita Vishwa Vidyapeetham Coimbatore Tamil Nadu
Amritsar Group of Colleges Amritsar Punjab

In [90]:
tbl = driver.find_elements(By.XPATH,"//html/body/table").  .get_attribute('outerHTML')
df  = pd.read_html(tbl)

AttributeError: 'list' object has no attribute 'get_attribute'

In [65]:
xp3 = xp2 + '/tbody/tr[3]/td'
print(xp3)

//table[@id='tblAllInstitutes']/tbody/tr[3]/td

In [67]:
xpe3 = driver.find_elements(By.XPATH, xp3)

In [68]:
# 3rd row of the table
for data in xpe3:
    print(data.text)

A M C College of Engineering, Bangalore
Bengaluru
Karnataka

In [71]:
xp4 = xp2 + '/tbody/tr[3]/td[1]'
print(xp4)

//table[@id='tblAllInstitutes']/tbody/tr[3]/td[1]

In [70]:
xpe4 = driver.find_elements(By.XPATH, xp4)
# 3rd row and 1st col of the table
for data in xpe4:
    print(data.text)

A M C College of Engineering, Bangalore

In [79]:
# Header
xp5 = xp2 + '/tbody/thead/tr'
print(xp5)

//table[@id='tblAllInstitutes']/tbody/thead/tr

In [80]:
xpe5 = driver.find_elements(By.XPATH, xp5)
# header row of the table
for data in xpe5:
    print(data.text)

In [91]:
#---------
df = pd.read_html(driver.page_source)[0]

/var/folders/z4/8qd93wx14xz1c9qfb_z969wc0000gn/T/ipykernel_63200/3094398582.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(driver.page_source)[0]

In [92]:
df

,Name,City,State
0,A G PATIL INSTITUTE OF TECHNOLOGY 18 2A2 PRATA...,Solapur,Maharashtra
1,A J Institute of Engineering and Technology Ma...,Mangaluru,Karnataka
2,"A M C College of Engineering, Bangalore",Bengaluru,Karnataka
3,A. J. K. College of Arts & Science,Coimbatore,Tamil Nadu
4,A. M. A. L. Degree College,ANAKAPALLE,Andhra Pradesh
...,...,...,...
95,AMJAD ALI KHAN COLLEGE OF BUSINESS ADMINISTRATION,Hyderabad,Telangana
96,Amrapali Institute of Hotel Management,Haldwani,Uttarakhand
97,"Amrita College of Engineering and Technology, ...",NAGERCOIL,Tamil Nadu
98,Amrita Vishwa Vidyapeetham,Coimbatore,Tamil Nadu
99,Amritsar Group of Colleges,Amritsar,Punjab

In [ ]:
xpF1 ='/html/body/div[2]/div[1]/div/div/div/div[2]/div/table/tbody'

In [98]:
rows=100
columns=3
df1 = pd.DataFrame()
for i in range(rows):
    s = pd.Series()
    for c in range(columns):
        s[c] = driver.find_elements(By.XPATH,f"/html/body/div[2]/div[1]/div/div/div/div[2]/div/table/tbody/tr[{i+1}]/td[{c+1}]")
    df1 = pd.concat([df1, pd.DataFrame(s) ], ignore_index=True)

In [99]:
df1

                                                     0
0    [<selenium.webdriver.remote.webelement.WebElem...
1    [<selenium.webdriver.remote.webelement.WebElem...
2    [<selenium.webdriver.remote.webelement.WebElem...
3    [<selenium.webdriver.remote.webelement.WebElem...
4    [<selenium.webdriver.remote.webelement.WebElem...
..                                                 ...
295  [<selenium.webdriver.remote.webelement.WebElem...
296  [<selenium.webdriver.remote.webelement.WebElem...
297  [<selenium.webdriver.remote.webelement.WebElem...
298  [<selenium.webdriver.remote.webelement.WebElem...
299  [<selenium.webdriver.remote.webelement.WebElem...

[300 rows x 1 columns]

In [104]:
from bs4 import BeautifulSoup as bs
import requests

In [105]:
r = requests.get(n24op)

In [106]:
soup = bs(r.content)

In [108]:
#print(soup.prettify())

In [129]:
table = soup.select('table#tblAllInstitutes')[0]

In [131]:
#table

In [135]:
columns = table.find('thead').find_all('th') #.text()

In [141]:
columns# .contents #.get_text()
type(columns)

bs4.element.ResultSet

In [143]:
for tag in columns:
    print(tag.text.strip())

Name
City
State

In [116]:
table_df = pd.read_html(str(table))[0]

/var/folders/z4/8qd93wx14xz1c9qfb_z969wc0000gn/T/ipykernel_63200/514477678.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table_df = pd.read_html(str(table))[0]

In [115]:
table_df.head()

,Name,City,State
0,Adv.B.D.Hambarde Mahavidyalaya Ashti,Ashti,Maharashtra
1,"IDEAL ARTS AND SCIENCE COLLEGE, CHERPULASSERY",CHERPULASSERY,Kerala
2,A G PATIL INSTITUTE OF TECHNOLOGY 18 2A2 PRATA...,Solapur,Maharashtra
3,A J Institute of Engineering and Technology Ma...,Mangaluru,Karnataka
4,"A M C College of Engineering, Bangalore",Bengaluru,Karnataka

In [117]:
from io import StringIO

In [ ]:
table_df = pd.read_html(str(table))[0]

In [126]:
table_df2 = pd.read_html(StringIO(table), match={'id':'table'})[0]

TypeError: initial_value must be str or None, not Tag