In [ ]:
# Create Code to import data from NIRF of participating Institutions

## Using Selenium

In [120]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import numpy as np
from selenium.webdriver.chrome.service import Service

# Chrome Version
- Version 129.0.6668.71 (Official Build) (arm64)
- Latest ChromeDriver 114.0.5735.90
- chrome://settings/help
- https://developer.chrome.com/docs/chromedriver/downloads

In [2]:
import time

In [3]:
# Path to your ChromeDriver
cp2 = '/opt/homebrew/bin/chromedriver'  # Replace with the actual path to your chromedriver

??webdriver.chrome

In [4]:
#!pip install webdriver-manager
from webdriver_manager.chrome import ChromeDriverManager

In [5]:
# Open the NIRF rankings page
n24op = "https://www.nirfindia.org/Rankings/2023/OverallRankingALL.html"

url = n24op; nData = 'n24O_p' ; cat1 = 'participating'
print(nData, cat1, '\n', url)

n24O_p participating
 https://www.nirfindia.org/Rankings/2023/OverallRankingALL.html

#
#url = n20u; nData = 'n20u'
print(nData, url)

In [7]:
#driver.refresh()

In [8]:
cService = webdriver.ChromeService(executable_path='/opt/homebrew/bin/chromedriver')
driver = webdriver.Chrome(service = cService)

In [9]:
driver.get(url)
#driver.maximize_window()
time.sleep(5)  # Adjust time if needed, or you can use Selenium's explicit waits

In [157]:
print(driver.title)

MoE, National Institute Ranking Framework (NIRF)

In [10]:
# Locate the table on the page
table = driver.find_element(By.TAG_NAME, 'table')

In [11]:
table

In [12]:
# Extract table headers
headers = []
header_elements = table.find_elements(By.TAG_NAME, 'th')
for header in header_elements:
    headers.append(header.text.strip())

In [13]:
print(headers[0:3])

['Name', 'City', 'State']

In [14]:
print(headers[0:3], len(headers))

['Name', 'City', 'State'] 3

In [15]:
# Extract table rows
rows = []
row_elements = table.find_elements(By.TAG_NAME, 'tr')

In [16]:
#print(row_elements[0:5])

In [17]:
# Loop through rows to extract data
for row in row_elements[1:]:  # Skipping the header row
    cols = row.find_elements(By.TAG_NAME, 'td')
    cols = [col.text.strip() for col in cols]
    rows.append(cols)

In [18]:
rows[0:3]
#1 row into 3 rows  : 2 & 3rd row are blanks

[['A J Institute of Engineering and Technology Mangaluru',
  'Mangaluru',
  'Karnataka'],
 ['A M C College of Engineering, Bangalore', 'Bengaluru', 'Karnataka'],
 ['A N College, Dumka', 'DUMKA', 'Jharkhand']]

In [19]:
print(len(rows), len(headers))

100 3

In [20]:
print(headers[0:3])

['Name', 'City', 'State']

In [21]:
print(rows[0:5])

[['A J Institute of Engineering and Technology Mangaluru', 'Mangaluru', 'Karnataka'], ['A M C College of Engineering, Bangalore', 'Bengaluru', 'Karnataka'], ['A N College, Dumka', 'DUMKA', 'Jharkhand'], ['A. A. Government Arts College', 'Tiruchirappalli', 'Tamil Nadu'], ['A. J. K. College of Arts & Science', 'Coimbatore', 'Tamil Nadu']]

In [22]:
#print(rows[0:300:3])

In [23]:
# Create a DataFrame from the extracted data
df1 = pd.DataFrame(rows[0:len(rows)], columns=headers[0:3])

In [24]:
df1.head(2)

                                                Name       City      State
0  A J Institute of Engineering and Technology Ma...  Mangaluru  Karnataka
1            A M C College of Engineering, Bangalore  Bengaluru  Karnataka

In [25]:
list(df1.columns)

['Name', 'City', 'State']

In [26]:
df1.columns = ['name','city','state']

In [27]:
df1.head(2)

                                                name       city      state
0  A J Institute of Engineering and Technology Ma...  Mangaluru  Karnataka
1            A M C College of Engineering, Bangalore  Bengaluru  Karnataka

In [28]:
df1B = df1.copy()
df1B.head(2)

                                                name       city      state
0  A J Institute of Engineering and Technology Ma...  Mangaluru  Karnataka
1            A M C College of Engineering, Bangalore  Bengaluru  Karnataka

In [29]:
df1B.shape

(100, 3)

In [30]:
df1B['cat'] = cat1
df1B.head()

,name,city,state,cat
0,A J Institute of Engineering and Technology Ma...,Mangaluru,Karnataka,participating
1,"A M C College of Engineering, Bangalore",Bengaluru,Karnataka,participating
2,"A N College, Dumka",DUMKA,Jharkhand,participating
3,A. A. Government Arts College,Tiruchirappalli,Tamil Nadu,participating
4,A. J. K. College of Arts & Science,Coimbatore,Tamil Nadu,participating

In [31]:
dfNO = pd.concat([df1B.reset_index(drop=True)], axis=1)
dfNO['nYear'] = nData

In [32]:
dfNO.head(2)

,name,city,state,cat,nYear
0,A J Institute of Engineering and Technology Ma...,Mangaluru,Karnataka,participating,n24O_p
1,"A M C College of Engineering, Bangalore",Bengaluru,Karnataka,participating,n24O_p

# Now Iteratively Scan through the multiple Pages

In [106]:
cService = webdriver.ChromeService(executable_path='/opt/homebrew/bin/chromedriver')
driver = webdriver.Chrome(service = cService)
driver.get(url)

In [107]:
#table = driver.find_element(By.TAG_NAME, 'table')
previous = driver.find_element(By.LINK_TEXT, 'Previous')
next = driver.find_element(By.LINK_TEXT, 'Next')

In [108]:
next = driver.find_element(By.LINK_TEXT, 'Next')
next.click()
#previous.click()

In [110]:
# Locate the common headers for all pages
table = driver.find_element(By.TAG_NAME, 'table')
# Extract table headers
headers = []
header_elements = table.find_elements(By.TAG_NAME, 'th')
for header in header_elements:
    headers.append(header.text.strip())
print(headers[0:3], len(headers))

['Name', 'City', 'State'] 3

In [111]:
## Now get the data page wise

In [112]:
pages = driver.find_element(By.CLASS_NAME,'paginate_button')
pages

In [113]:
page1 = driver.find_element(By.XPATH,"//*[@id='tblAllInstitutes_paginate']/span/a[1]")
page1

In [114]:
page1.click()

page1 = driver.find_element(By.XPATH,"//*[@id='tblAllInstitutes_paginate']/span/a[1]")
page1.click()
for i in range(25):
    next = driver.find_element(By.LINK_TEXT, 'Next')
    time.sleep(2)
    pn = i + 1
   print('Page',pn, sep='-', end ='; ')
    next.click()

In [115]:
headers; type(headers)

list

In [121]:
DF = pd.DataFrame(columns=headers)
DF['pn'] = pd.Series(dtype='int')
DF

Empty DataFrame
Columns: [Name, City, State, pn]
Index: []

In [124]:
page1 = driver.find_element(By.XPATH,"//*[@id='tblAllInstitutes_paginate']/span/a[1]")
page1.click()
df1 = {}
DF = pd.DataFrame(columns=headers)
DF['pn'] = pd.Series(dtype='int')
for i in range(25):
    next = driver.find_element(By.LINK_TEXT, 'Next')
    time.sleep(1)
    pn = i + 1
    #print('Page',pn, sep='-', end ='; ')
    table = driver.find_element(By.TAG_NAME, 'table')
    rows = []
    row_elements = table.find_elements(By.TAG_NAME, 'tr')
    # Loop through rows to extract data
    for row in row_elements[1:]:  # Skipping the header row
        cols = row.find_elements(By.TAG_NAME, 'td')
        cols = [col.text.strip() for col in cols]
        rows.append(cols) 
    df1 = pd.DataFrame(rows[0:len(rows)], columns=headers)
    print(df1.tail(2))
    df1['pn'] = pn
    DF = pd.concat([DF, df1], ignore_index=True)
    print(f'Page {pn} - {len(rows)} rows, Row/Cols = {df1.shape} ; cum Rows/Cols = {DF.shape}',  sep='-', end ='\n')
    next.click()

Page 1 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (100, 4)
Page 2 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (200, 4)
Page 3 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (300, 4)
Page 4 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (400, 4)
Page 5 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (500, 4)
Page 6 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (600, 4)
Page 7 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (700, 4)
Page 8 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (800, 4)
Page 9 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (900, 4)
Page 10 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (1000, 4)
Page 11 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (1100, 4)
Page 12 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (1200, 4)
Page 13 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (1300, 4)
Page 14 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (1400, 4)
Page 15 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (1500, 4)
Page 16 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (1600, 4)
Page 17 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (1700, 4)
Page 18 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (1800, 4)
Page 19 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (1900, 4)
Page 20 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (2000, 4)
Page 21 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (2100, 4)
Page 22 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (2200, 4)
Page 23 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (2300, 4)
Page 24 - 100 rows, Row/Cols = (100, 4) ; cum Rows/Cols = (2400, 4)
Page 25 - 78 rows, Row/Cols = (78, 4) ; cum Rows/Cols = (2478, 4)

In [125]:
print(DF.shape, type(DF))

(2478, 4) <class 'pandas.core.frame.DataFrame'>

In [130]:
#print(DF.head(), DF.tail())
pd.concat([DF.head(5), DF.tail(5)])

,Name,City,State,pn
0,A J Institute of Engineering and Technology Ma...,Mangaluru,Karnataka,1
1,"A M C College of Engineering, Bangalore",Bengaluru,Karnataka,1
2,"A N College, Dumka",DUMKA,Jharkhand,1
3,A. A. Government Arts College,Tiruchirappalli,Tamil Nadu,1
4,A. J. K. College of Arts & Science,Coimbatore,Tamil Nadu,1
2473,Yogada Satsanga Palpara Mahavidyalaya,NA,West Bengal,25
2474,Yogi Vemana University,Kadapa,Andhra Pradesh,25
2475,"Yuva Vyavsaik Shikshan Mahavidhyalaya, Guna",Guna,Madhya Pradesh,25
2476,Z.F. Wadia Women`s College & N.K. Jhota Colleg...,Dist. Surat,Gujarat,25
2477,"Zakia Afaque Islamia College, Siwan",Siwan,Bihar,25

In [105]:
# Close the browser
driver.quit()

In [137]:
# Display the extracted data
nData = 'n24Opi'
DF['cat'] = 'NIRF24O_Participating'

In [138]:
# Save the data to a CSV file
fileLoc  = '/Users/du/dup/auData/ranking/nirf/'
fileName = fileLoc +  nData + '.csv'
print(nData, fileName)

n24Opi /Users/du/dup/auData/ranking/nirf/n24Opi.csv

In [139]:
DF.to_csv(fileName, index=False)

In [140]:
import os

In [141]:
print(' '.join(map(str, os.listdir(fileLoc))))

Innovation nirf22R.csv nirf22P.csv n24Opi.csv N23scores.pdf n24u.csv nirf2122P.csv .DS_Store IR2024_Report.pdf n21o.csv n22u.csv Law Management pdf NIRF 2023 Data Summary.pdf n23u.csv n20o.csv n24O_b1.csv n20u.csv n23o.csv nirf24o.csv Architecture NIRFall.csv n24O_b2.csv nirfAU.csv n24U_b2.csv n22o.csv n21u.csv n24U_b1.csv nirf21A.csv N23Scores.csv n2oo.csv n24o.csv Overall Engineering nirfScores.csv

## End of Coding

In [142]:
pd.read_csv(fileName).head(2)

,Name,City,State,pn,cat
0,A J Institute of Engineering and Technology Ma...,Mangaluru,Karnataka,1,NIRF24O_Participating
1,"A M C College of Engineering, Bangalore",Bengaluru,Karnataka,1,NIRF24O_Participating