# THE Asia Ranking
- https://www.timeshighereducation.com/world-university-rankings/2023/regional-ranking
- https://www.timeshighereducation.com/world-university-rankings/2024/regional-ranking
- https://www.timeshighereducation.com/world-university-rankings/2025/regional-ranking
- part : #!/length/-1/sort_by/rank/sort_order/asc/cols/scores

In [129]:
urls = ["https://www.timeshighereducation.com/world-university-rankings/2023/regional-ranking/", 
"https://www.timeshighereducation.com/world-university-rankings/2024/regional-ranking/", "https://www.timeshighereducation.com/world-university-rankings/2025/regional-ranking"]
part1 = '#!/length/-1/sort_by/rank/sort_order/asc/cols/scores/'
urls[0] + part1

'https://www.timeshighereducation.com/world-university-rankings/2023/regional-ranking/#!/length/-1/sort_by/rank/sort_order/asc/cols/scores/'

In [144]:
#install libraries if required

In [145]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
import time
import pandas as pd
import numpy as np
import re

In [173]:
pd.set_option('max_colwidth',None)

In [146]:
# Setup Chrome options
options = Options()
options.add_argument("--start-maximized")
options.add_argument("--disable-notifications")

In [147]:
# Download location
prefs = { "download.prompt_for_download": False, "download.default_directory": "/Users/du/dup/auData/download"}
options.add_experimental_option("prefs", prefs)

In [148]:
cp2 = '/opt/homebrew/bin/chromedriver'  # Replace with the actual path to your chromedriver

In [149]:
#start driver
cService = webdriver.ChromeService(executable_path=cp2)
driver = webdriver.Chrome(service = cService)
#from webdriver_manager.chrome import ChromeDriverManager
#service = Service(ChromeDriverManager().install())
#driver = webdriver.Chrome(service=service)
#driver = webdriver.Chrome(ChromeDriverManager().install())
#print(driver.capabilities)

In [160]:
cService = webdriver.ChromeService(executable_path=cp2)
driver = webdriver.Chrome(service = cService)
url = urls[0] + part1
driver.get(url)
wait = WebDriverWait(driver, 5)
# Maximize window and wait for page to load
driver.maximize_window()
time.sleep(5)  
driver.find_element(By.ID,'CybotCookiebotDialogBodyButtonDecline').click()

In [164]:
urls

['https://www.timeshighereducation.com/world-university-rankings/2023/regional-ranking/',
 'https://www.timeshighereducation.com/world-university-rankings/2024/regional-ranking/',
 'https://www.timeshighereducation.com/world-university-rankings/2025/regional-ranking']

Go to: System Settings > Privacy & Security
	2.	Scroll down to Security section
	3.	You’ll see: “chromedriver was blocked from use because it is not from an identified developer”
	4.	Click “Allow Anyway”
xattr -d com.apple.quarantine chromedriver

In [169]:
# Ranking Tab
#once cookies has been stopped run this code again
ranking_headers = {}
for base_url in urls:
    full_url = base_url + part1
    driver.get(full_url)
    year = re.search(r'\d{4}', driver.title).group()
    print(year)
    wait = WebDriverWait(driver, 2)
    ranking_label = wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, "label[for='scores']")))
    ranking_label.click()
    time.sleep(2)
    
    table = driver.find_element(By.ID, "datatable-1")
    headers = table.find_elements(By.TAG_NAME, "th")
    ranking_headers[year] = [h.text.replace('\n', ' ').strip() for h in headers]
    #print(ranking_headers)

df_headers = pd.DataFrame([ {'year': year, 'variables': ', '.join(cols)} for year, cols in ranking_headers.items()])
df_headers
#ranking_headers

2023
2024
2025

   year                                          variables
0  2023  Rank, Name Country/Region, Overall, Citations,...
1  2024  Rank, Name Country/Region, Overall, Research Q...
2  2025  Rank, Name Country/Region, Overall, Research Q...

In [174]:
df_headers

,year,variables
0,2023,"Rank, Name Country/Region, Overall, Citations, Industry Income, International Outlook, Research, Teaching"
1,2024,"Rank, Name Country/Region, Overall, Research Quality, Industry, International Outlook, Research Environment, Teaching"
2,2025,"Rank, Name Country/Region, Overall, Research Quality, Industry, International Outlook, Research Environment, Teaching"

In [166]:
ranking_headers

{'2025': ['Rank',
  'Name Country/Region',
  'Overall',
  'Research Quality',
  'Industry',
  'International Outlook',
  'Research Environment',
  'Teaching']}

In [175]:
driver.refresh()

In [20]:
ranking_table = driver.find_element(By.ID, "datatable-1")
rows = ranking_table.find_elements(By.TAG_NAME, "tr")

ranking_data = []
for row in rows[1:]:
    cols = row.find_elements(By.TAG_NAME, "td")
    ranking_data.append([col.text for col in cols])

In [92]:
pd.DataFrame(ranking_data[0:1])

   0                           1     2     3      4     5     6     7
0  1  Tsinghua University\nChina  88.2  88.0  100.0  40.3  97.2  88.6

In [25]:
columns1 = ['rank','university','overall','citations','industryIncome','intlOutlook', 'research','teaching']
df1 = pd.DataFrame(ranking_data, columns=columns1)

In [26]:
df1.shape

(928, 8)

In [29]:
df1['theYear'] ='Asia_2023'

In [30]:
df1.head(2)

,rank,university,overall,citations,industryIncome,intlOutlook,research,teaching,theYear
0,1,Tsinghua University\nChina,88.2,88.0,100.0,40.3,97.2,88.6,Asia_2023
1,2,Peking University\nChina,87.8,80.4,91.8,65.0,96.9,91.5,Asia_2023

In [31]:
# Key Statistics Tabs
# Click the label for "Key Statistics" tab
key_stats_label = wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, "label[for='stats']")))
key_stats_label.click()
time.sleep(5)

In [32]:
table = driver.find_element(By.ID, "datatable-1")
rows = key_stats_table.find_elements(By.TAG_NAME, "tr")

key_stats_data = []
for row in rows[1:]:
    cols = row.find_elements(By.TAG_NAME, "td")
    key_stats_data.append([col.text for col in cols])
key_stats_data[0:1]

[['1', 'Tsinghua University\nChina', '38,324', '11.6', '10%', 'n/a']]

In [76]:
columns2 = ['rank','university','students','stuStaffRatio','intlStudents','FMratio']
df2 = pd.DataFrame(key_stats_data, columns=columns2)
df2.head(2)

  rank                  university students stuStaffRatio intlStudents FMratio
0    1  Tsinghua University\nChina   38,324          11.6          10%     n/a
1    2    Peking University\nChina   31,994          10.3          19%     n/a

In [77]:
df2['theYear'] = 'Asia_2023'

In [78]:
df2.head(5)

,rank,university,students,stuStaffRatio,intlStudents,FMratio,theYear
0,1,Tsinghua University\nChina,"38,324",11.6,10%,n/a,Asia_2023
1,2,Peking University\nChina,"31,994",10.3,19%,n/a,Asia_2023
2,3,National University of Singapore\nSingapore\nE...,"32,337",19.8,25%,51 : 49,Asia_2023
3,4,University of Hong Kong\nHong Kong\nExplore,"18,087",18.2,43%,54 : 46,Asia_2023
4,5,"Nanyang Technological University, Singapore\nS...","24,651",15.1,25%,48 : 52,Asia_2023

In [127]:
#df2['university'].str.split('\n').apply(len).value_counts()

In [83]:
df2 = pd.DataFrame(key_stats_data, columns=columns2)
df2['theYear'] = 'Asia_2023'
df2[['university', 'location']] = df2['university'].str.split('\n', n=1, expand=True)

In [88]:
df2 = pd.DataFrame(key_stats_data, columns=columns2)
df2['theYear'] = 'Asia_2023'
df2[['university', 'location']] = df2['university'].str.split('\n', n=1, expand=True)
df2['intlStudents'] = df2['intlStudents'].str.replace('%', '', regex=False).str.strip()
df2['intlStudents'] = pd.to_numeric(df2['intlStudents'], errors='coerce')

df2['students'] = df2['students'].str.replace(',', '', regex=False)
df2['students'] = pd.to_numeric(df2['students'], errors='coerce')

df2['FMratio'] = df2['FMratio'].str.split(':').str[0].str.replace(' ', '')
df2['FMratio'] = pd.to_numeric(df2['FMratio'], errors='coerce')
df2['location'] = df2['location'].str.replace('\nExplore', '', regex=False)

In [89]:
df2.head()

,rank,university,students,stuStaffRatio,intlStudents,FMratio,theYear,location
0,1,Tsinghua University,38324,11.6,10.0,NaN,Asia_2023,China
1,2,Peking University,31994,10.3,19.0,NaN,Asia_2023,China
2,3,National University of Singapore,32337,19.8,25.0,51.0,Asia_2023,Singapore
3,4,University of Hong Kong,18087,18.2,43.0,54.0,Asia_2023,Hong Kong
4,5,"Nanyang Technological University, Singapore",24651,15.1,25.0,48.0,Asia_2023,Singapore

In [136]:
# Now I want it to scroll through multiple pages and combine in to one excel sheet
urls = ["https://www.timeshighereducation.com/world-university-rankings/2023/regional-ranking/", 
"https://www.timeshighereducation.com/world-university-rankings/2024/regional-ranking/", "https://www.timeshighereducation.com/world-university-rankings/2025/regional-ranking"]
part1 = '#!/length/-1/sort_by/rank/sort_order/asc/cols/scores/'

In [176]:
#check if headings are same
# Initialize
cService = webdriver.ChromeService(executable_path=cp2)
driver = webdriver.Chrome(service = cService)
ranking_headers = {}
key_stats_headers = {}

for url in urls:
    full_url = url + part1
    driver.get(full_url)
    time.sleep(5)
    
    # Handle cookie reject
    try:
        reject_button = WebDriverWait(driver, 5).until(
            EC.element_to_be_clickable((By.ID, "CybotCookiebotDialogBodyButtonDecline")) )
        reject_button.click()
        time.sleep(2)
    except TimeoutException:
        print(f"No cookie dialog for {full_url}")
    #extract year
    year = re.search(r'\d{4}', driver.title).group()

    # --- RANKING TAB HEADERS ---
    wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, "label[for='scores']"))).click()
    time.sleep(3)
    table = driver.find_element(By.ID, "datatable-1")
    headers = table.find_elements(By.TAG_NAME, "th")
    ranking_headers[year] = [h.text.replace('\n', ' ').strip() for h in headers]

    # --- KEY STATISTICS TAB HEADERS ---
    #wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, "label[for='stats']"))).click()
    #ime.sleep(3)
    #table = driver.find_element(By.ID, "datatable-1")
    #headers = table.find_elements(By.TAG_NAME, "th")
    #key_stats_headers[year] = [h.text.replace('\n', ' ').strip() for h in headers]

# Print output
print("Ranking Table Headers:")
for year, cols in ranking_headers.items():
    print(f"{year}: {cols}")

#print("\nKey Statistics Table Headers:")
#for year, cols in key_stats_headers.items():
    #print(f"{year}: {cols}")

No cookie dialog for https://www.timeshighereducation.com/world-university-rankings/2023/regional-ranking/#!/length/-1/sort_by/rank/sort_order/asc/cols/scores/
No cookie dialog for https://www.timeshighereducation.com/world-university-rankings/2024/regional-ranking/#!/length/-1/sort_by/rank/sort_order/asc/cols/scores/
No cookie dialog for https://www.timeshighereducation.com/world-university-rankings/2025/regional-ranking#!/length/-1/sort_by/rank/sort_order/asc/cols/scores/
Ranking Table Headers:
2023: ['Rank', 'Name Country/Region', 'Overall', 'Citations', 'Industry Income', 'International Outlook', 'Research', 'Teaching']
2024: ['Rank', 'Name Country/Region', 'Overall', 'Research Quality', 'Industry', 'International Outlook', 'Research Environment', 'Teaching']
2025: ['Rank', 'Name Country/Region', 'Overall', 'Research Quality', 'Industry', 'International Outlook', 'Research Environment', 'Teaching']

In [125]:
all_combined =[]
for url in urls:
    full_url = url + part1
    driver.get(full_url)
    print(driver.title)
    year = re.search(r'\d{4}', driver.title).group()
    label = 'THE_Asia_' + year
    print(label)
    wait = WebDriverWait(driver, 20)
    driver.maximize_window()
    time.sleep(5)

#----RANKING
    ranking_label = wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, "label[for='scores']")))
    ranking_label.click()
    time.sleep(5)
#------
    ranking_table = driver.find_element(By.ID, "datatable-1")
    rows = ranking_table.find_elements(By.TAG_NAME, "tr")

    ranking_data = []
    for row in rows[1:]:
        cols = row.find_elements(By.TAG_NAME, "td")
    ranking_data.append([col.text for col in cols])
    columns1 = ['rank','university1','overall','citations','industryIncome','intlOutlook', 'research','teaching']
    df1 = pd.DataFrame(ranking_data, columns=columns1)
    df1['theYear'] = label
    df1['page1'] ='Ranking'
    df1[['university1', 'location1']] = df1['university1'].str.split('\n', n=1, expand=True)
    df1['location1'] = df1['location1'].str.replace('\nExplore', '', regex=False)
    print('DF1 done for ', label)
#---keystats-------
    key_stats_label = wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, "label[for='stats']")))
    key_stats_label.click()
    time.sleep(5)
#-------
    key_stats_table = driver.find_element(By.ID, "datatable-1")
    rows = key_stats_table.find_elements(By.TAG_NAME, "tr")

    key_stats_data = []
    for row in rows[1:]:
        cols = row.find_elements(By.TAG_NAME, "td")
        key_stats_data.append([col.text for col in cols])
#-------
    columns2 = ['rank','university2','students','stuStaffRatio','intlStudents','FMratio']
    df2 = pd.DataFrame(key_stats_data, columns=columns2)
    df2['theYear'] = label
    df2['page2'] ='KeyStatistics'
#--------
    df2[['university2', 'location2']] = df2['university2'].str.split('\n', n=1, expand=True)
    df2['intlStudents'] = df2['intlStudents'].str.replace('%', '', regex=False).str.strip()
    df2['intlStudents'] = pd.to_numeric(df2['intlStudents'], errors='coerce')

    df2['students'] = df2['students'].str.replace(',', '', regex=False)
    df2['students'] = pd.to_numeric(df2['students'], errors='coerce')

    df2['FMratio'] = df2['FMratio'].str.split(':').str[0].str.replace(' ', '')
    df2['FMratio'] = pd.to_numeric(df2['FMratio'], errors='coerce')
    df2['location2'] = df2['location2'].str.replace('\nExplore', '', regex=False)
    print('DF2 done for ', label)
    # --- Combine horizontally ---
    df_combined = pd.concat([df1.reset_index(drop=True), df2.reset_index(drop=True)], axis=1)
    print('DF1 & DF2 combined for ', label)
    # --- Append to final list ---
    all_combined.append(df_combined)

# --- Combine all years (row bind) ---
final_df = pd.concat(all_combined, axis=0, ignore_index=True)
#print(final_df.head())

Asia University Rankings 2023 | Times Higher Education (THE)
THE_Asia_2023
DF1 done for  THE_Asia_2023
DF2 done for  THE_Asia_2023
Asia University Rankings 2024 | Times Higher Education (THE)
THE_Asia_2024
DF1 done for  THE_Asia_2024
DF2 done for  THE_Asia_2024
Asia University Rankings 2025 | Times Higher Education (THE)
THE_Asia_2025
DF1 done for  THE_Asia_2025
DF2 done for  THE_Asia_2025
       rank          university1 overall citations industryIncome intlOutlook  \
0  Reporter  Ziauddin University     n/a       n/a            n/a         n/a
1       NaN                  NaN     NaN       NaN            NaN         NaN
2       NaN                  NaN     NaN       NaN            NaN         NaN
3       NaN                  NaN     NaN       NaN            NaN         NaN
4       NaN                  NaN     NaN       NaN            NaN         NaN

  research teaching        theYear    page1 location1 rank  \
0      n/a      n/a  THE_Asia_2023  Ranking  Pakistan    1
1      NaN      NaN            NaN      NaN       NaN    2
2      NaN      NaN            NaN      NaN       NaN    3
3      NaN      NaN            NaN      NaN       NaN    4
4      NaN      NaN            NaN      NaN       NaN    5

                                   university2  students stuStaffRatio  \
0                          Tsinghua University   38324.0          11.6
1                            Peking University   31994.0          10.3
2             National University of Singapore   32337.0          19.8
3                      University of Hong Kong   18087.0          18.2
4  Nanyang Technological University, Singapore   24651.0          15.1

   intlStudents  FMratio        theYear          page2  location2
0          10.0      NaN  THE_Asia_2023  KeyStatistics      China
1          19.0      NaN  THE_Asia_2023  KeyStatistics      China
2          25.0     51.0  THE_Asia_2023  KeyStatistics  Singapore
3          43.0     54.0  THE_Asia_2023  KeyStatistics  Hong Kong
4          25.0     48.0  THE_Asia_2023  KeyStatistics  Singapore

In [126]:
final_df.head()

,rank,university1,overall,citations,industryIncome,intlOutlook,research,teaching,theYear,page1,location1,rank,university2,students,stuStaffRatio,intlStudents,FMratio,theYear,page2,location2
0,Reporter,Ziauddin University,n/a,n/a,n/a,n/a,n/a,n/a,THE_Asia_2023,Ranking,Pakistan,1,Tsinghua University,38324.0,11.6,10.0,NaN,THE_Asia_2023,KeyStatistics,China
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,Peking University,31994.0,10.3,19.0,NaN,THE_Asia_2023,KeyStatistics,China
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,National University of Singapore,32337.0,19.8,25.0,51.0,THE_Asia_2023,KeyStatistics,Singapore
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,University of Hong Kong,18087.0,18.2,43.0,54.0,THE_Asia_2023,KeyStatistics,Hong Kong
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,"Nanyang Technological University, Singapore",24651.0,15.1,25.0,48.0,THE_Asia_2023,KeyStatistics,Singapore

In [110]:
df2.head()

,rank,university2,students,stuStaffRatio,intlStudents,FMratio,theYear,page2,location2
0,1,Tsinghua University,38324,11.6,10.0,NaN,Asia_2023,KeyStatistics,China
1,2,Peking University,31994,10.3,19.0,NaN,Asia_2023,KeyStatistics,China
2,3,National University of Singapore,32337,19.8,25.0,51.0,Asia_2023,KeyStatistics,Singapore
3,4,University of Hong Kong,18087,18.2,43.0,54.0,Asia_2023,KeyStatistics,Hong Kong
4,5,"Nanyang Technological University, Singapore",24651,15.1,25.0,48.0,Asia_2023,KeyStatistics,Singapore

In [55]:
# Open the THE Rankings page
url = "https://www.timeshighereducation.com/world-university-rankings/2025/regional-ranking#!/length/-1/sort_by/rank/sort_order/asc/cols/scores"
driver.get(url)
# Wait for the table to load
time.sleep(10)

# Click download button if available
try:
    download_button = driver.find_element(By.CSS_SELECTOR, "div.download a[title='Download table data']")
    download_button.click()
    print("Download started...")
except Exception as e:
    print("Download failed:", e)

# Wait a bit for download
time.sleep(10)

In [ ]:
driver.quit()

In [39]:
driver.refresh()

In [45]:
# Locate table by ID
table = driver.find_element("id", "datatable-1")
html = table.get_attribute("outerHTML")

# Convert to DataFrame using pandas
df = pd.read_html(html)[0]
#driver.quit()

/var/folders/z4/8qd93wx14xz1c9qfb_z969wc0000gn/T/ipykernel_10817/2827145537.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(html)[0]

In [101]:
df1.head()

,rank,university1,overall,citations,industryIncome,intlOutlook,research,teaching,theYear,location1
0,1,Tsinghua University,88.2,88.0,100.0,40.3,97.2,88.6,Asia_2023,China
1,2,Peking University,87.8,80.4,91.8,65.0,96.9,91.5,Asia_2023,China
2,3,National University of Singapore,87.2,90.2,87.0,94.0,93.6,73.8,Asia_2023,Singapore\nExplore
3,4,University of Hong Kong,80.1,92.4,60.6,98.7,78.4,67.5,Asia_2023,Hong Kong\nExplore
4,5,"Nanyang Technological University, Singapore",79.2,87.2,84.5,94.5,81.2,61.3,Asia_2023,Singapore\nExplore

In [62]:
df.to_csv("/Users/du/dup/auData/download/theasia25a.csv", index=False)

In [57]:
# Find table
table = driver.find_element(By.ID, "datatable-1")
rows = table.find_elements(By.CSS_SELECTOR, "tbody tr")

# Extract data
data = []
for row in rows:
    cols = row.find_elements(By.TAG_NAME, "td")
    if len(cols) >= 5:
        rank = cols[0].text.strip()
        name = cols[1].find_element(By.CLASS_NAME, "ranking-institution-title").text.strip()
        country = cols[1].find_element(By.CLASS_NAME, "location").text.strip()
        fte_students = cols[2].text.strip()
        student_staff_ratio = cols[3].text.strip()
        intl_students = cols[4].text.strip()
        data.append({
            "Rank": rank,
            "Name": name,
            "Country": country,
            "FTE Students": fte_students,
            "Student-Staff Ratio": student_staff_ratio,
            "International Students": intl_students
        })

# Close browser
#driver.quit()

# Convert to DataFrame
df2 = pd.DataFrame(data)

In [60]:
df2.head()

,Rank,Name,Country,FTE Students,Student-Staff Ratio,International Students
0,1,Tsinghua University,China,"38,289",11.0,9%
1,2,Peking University,China,"34,981",11.5,15%
2,3,National University of Singapore,Singapore,"34,388",21.0,26%
3,4,"Nanyang Technological University, Singapore",Singapore,"26,044",17.1,29%
4,5,The University of Tokyo,Japan,"26,438",10.4,17%

In [61]:
df2.to_csv("/Users/du/dup/auData/download/theasia25b.csv", index=False)

In [38]:
driver.quit()

## practise

In [179]:
# Initialize
cService = webdriver.ChromeService(executable_path=cp2)
driver = webdriver.Chrome(service = cService)
full_url = urls[0] + part1
print(full_url)
driver.get(full_url)
time.sleep(5)
    
# Handle cookie reject
try:
    reject_button = WebDriverWait(driver, 5).until( EC.element_to_be_clickable((By.ID, "CybotCookiebotDialogBodyButtonDecline")) )
    reject_button.click()
    time.sleep(2)
except TimeoutException:
    print(f"No cookie dialog for {full_url}")
#extract year
year = re.search(r'\d{4}', driver.title).group()
print(f'Year {year}', f'Tile {driver.title}')

https://www.timeshighereducation.com/world-university-rankings/2023/regional-ranking/#!/length/-1/sort_by/rank/sort_order/asc/cols/scores/
Year 2023 Tile Asia University Rankings 2023 | Times Higher Education (THE)

In [181]:
for url in urls:
    full_url = url + part1
    driver.get(full_url)
    time.sleep(2)
    year = re.search(r'\d{4}', driver.title).group()
    label = 'THE_Asia_' + year
    print(f'Label {label} for Title {driver.title} and Year {year}')

Label THE_Asia_2023 for Title Asia University Rankings 2023 | Times Higher Education (THE) and Year 2023
Label THE_Asia_2024 for Title Asia University Rankings 2024 | Times Higher Education (THE) and Year 2024
Label THE_Asia_2025 for Title Asia University Rankings 2025 | Times Higher Education (THE) and Year 2025

In [189]:
#headers 
ranking_headers={}
for url in urls:
    full_url = url + part1
    driver.get(full_url)
    print(driver.title)
    time.sleep(2)
    #ranking_label = wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, "label[for='scores']")))
    #ranking_label.click()
    #time.sleep(2)
    
    table = driver.find_element(By.ID, "datatable-1")
    headers = table.find_elements(By.TAG_NAME, "th")
    ranking_headers[year] = [h.text.replace('\n', ' ').strip() for h in headers]
ranking_headers

InvalidSessionIdException: Message: invalid session id: session deleted as the browser has closed the connection
from disconnected: not connected to DevTools
  (Session info: chrome=136.0.7103.93)
Stacktrace:
0   chromedriver                        0x00000001007383bc cxxbridge1$str$ptr + 2829900
1   chromedriver                        0x0000000100730684 cxxbridge1$str$ptr + 2797844
2   chromedriver                        0x000000010026dfbc cxxbridge1$string$len + 90140
3   chromedriver                        0x0000000100257b98 chromedriver + 195480
4   chromedriver                        0x000000010027aa9c cxxbridge1$string$len + 142076
5   chromedriver                        0x00000001002dd214 cxxbridge1$string$len + 545396
6   chromedriver                        0x00000001002f5b50 cxxbridge1$string$len + 646064
7   chromedriver                        0x00000001002a93f8 cxxbridge1$string$len + 332888
8   chromedriver                        0x00000001006fc7e0 cxxbridge1$str$ptr + 2585200
9   chromedriver                        0x00000001006ffab0 cxxbridge1$str$ptr + 2598208
10  chromedriver                        0x00000001006dddb4 cxxbridge1$str$ptr + 2459716
11  chromedriver                        0x0000000100700328 cxxbridge1$str$ptr + 2600376
12  chromedriver                        0x00000001006cf640 cxxbridge1$str$ptr + 2400464
13  chromedriver                        0x000000010072028c cxxbridge1$str$ptr + 2731292
14  chromedriver                        0x0000000100720418 cxxbridge1$str$ptr + 2731688
15  chromedriver                        0x00000001007302d0 cxxbridge1$str$ptr + 2796896
16  libsystem_pthread.dylib             0x0000000199915c0c _pthread_start + 136
17  libsystem_pthread.dylib             0x0000000199910b80 thread_start + 8

In [188]:
ranking_headers

{'2025': ['Rank',
  'Name Country/Region',
  'Overall',
  'Research Quality',
  'Industry',
  'International Outlook',
  'Research Environment',
  'Teaching']}

In [184]:
driver.refresh()