# Selenium 
- Extract Data from NIRF Site

In [41]:
#!pip install selenium

In [42]:
import selenium
import pandas as pd

In [43]:
selenium.__version__
# > 4.11  update if reqd

'4.18.1'

In [44]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

In [45]:
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [62]:
service = Service()

In [63]:
options = webdriver.ChromeOptions()
print(options)

<selenium.webdriver.chrome.options.Options object at 0x3135bd450>

In [64]:
driver = webdriver.Chrome(service =service, options=options)
print(driver)

<selenium.webdriver.chrome.webdriver.WebDriver (session="b7c6cb7a2ec45f18de594a88b6a66782")>

# This should open the window
# this works fine

## Links to navigate

In [65]:
n24or1 = 'https://www.nirfindia.org/Rankings/2024/OverallRanking.html'
n24or2 = 'https://www.nirfindia.org/Rankings/2024/OverallRanking150.html'
n24or3 = 'https://www.nirfindia.org/Rankings/2024/OverallRanking200.html'
n24op = 'https://www.nirfindia.org/Rankings/2024/OverallRankingALL.html'

In [66]:
driver.get(n24or1)
#this loads the page

In [67]:
#driver.save_screenshot('screenshot.png')

In [68]:
rendered_html = driver.page_source
print(rendered_html[0:100])

<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-w

# Find Elements

In [69]:
ide = driver.find_elements(By.ID,'tblAllInstitutes')
ide

[]

driver.refresh()

In [70]:
# Find Elements by Xpath
xp1 = "//*[@id='tblAllInstitutes']"
xp2 = "//table[@id='tblAllInstitutes']"
xp3 = '//*[@id="tbl_overall"]'

In [71]:
xpe2 = driver.find_elements(By.XPATH, xp3)

In [72]:
type(xpe2)

list

In [73]:
for data in xpe2:
    print(data.text)

Institute ID Name City State Score Rank
IR-O-U-0456 Indian Institute of Technology Madras
More Details | |

Chennai Tamil Nadu 86.42 1
IR-O-U-0220 Indian Institute of Science, Bengaluru
More Details | |

Bengaluru Karnataka 83.28 2
IR-O-U-0306 Indian Institute of Technology Bombay
More Details | |

Mumbai Maharashtra 81.37 3
IR-O-I-1074 Indian Institute of Technology Delhi
More Details | |

New Delhi Delhi 80.31 4
IR-O-I-1075 Indian Institute of Technology Kanpur
More Details | |

Kanpur Uttar Pradesh 77.56 5
IR-O-U-0573 Indian Institute of Technology Kharagpur
More Details | |

Kharagpur West Bengal 74.77 6
IR-O-N-15 All India Institute of Medical Sciences Delhi
More Details | |

New Delhi Delhi 74.27 7
IR-O-U-0560 Indian Institute of Technology Roorkee
More Details | |

Roorkee Uttarakhand 71.52 8
IR-O-U-0053 Indian Institute of Technology Guwahati
More Details | |

Guwahati Assam 69.04 9
IR-O-U-0109 Jawaharlal Nehru University
More Details | |

New Delhi Delhi 68.53 10
IR-O-U-0500 Banaras Hindu University
More Details | |

Varanasi Uttar Pradesh 67.56 11
IR-O-U-0013 Indian Institute of Technology Hyderabad
More Details | |

Hyderabad Telangana 66.69 12
IR-O-U-0108 Jamia Millia Islamia
More Details | |

New Delhi Delhi 66.00 13
IR-O-U-0234 Manipal Academy of Higher Education, Manipal
More Details | |

Manipal Karnataka 64.94 14
IR-O-U-0120 University of Delhi
More Details | |

Delhi Delhi 64.81 15
IR-O-U-0496 Aligarh Muslim University
More Details | |

Aligarh Uttar Pradesh 64.17 16
IR-O-U-0575 Jadavpur University
More Details | |

Kolkata West Bengal 63.84 17
IR-O-U-0436 Amrita Vishwa Vidyapeetham
More Details | |

Coimbatore Tamil Nadu 63.81 18
IR-O-U-0490 Vellore Institute of Technology
More Details | |

Vellore Tamil Nadu 62.97 19
IR-O-U-0439 Anna University
More Details | |

Chennai Tamil Nadu 62.77 20
IR-O-U-0473 S.R.M. Institute of Science and Technology
More Details | |

Chennai Tamil Nadu 62.07 21
IR-O-I-1441 Saveetha Institute of Medical and Technical Sciences
More Details | |

Chennai Tamil Nadu 61.79 22
IR-O-U-0391 Birla Institute of Technology and Science, Pilani
More Details | |

Pilani Rajasthan 60.87 23
IR-O-U-0363 Siksha `O` Anusandhan
More Details | |

Bhubaneswar Odisha 60.73 24
IR-O-U-0042 University of Hyderabad
More Details | |

Hyderabad Telangana 60.55 25
IR-O-U-0570 Calcutta University
More Details | |

Kolkata West Bengal 60.25 26
IR-O-U-0304 Homi Bhabha National Institute
More Details | |

Mumbai Maharashtra 60.13 27
IR-O-U-0356 Kalinga Institute of Industrial Technology
More Details | |

Bhubaneswar Odisha 59.94 28
IR-O-U-0139 Indian Institute of Technology Gandhinagar
More Details | |

Gandhinagar Gujarat 58.77 29
IR-O-U-0701 Indian Institute of Technology (Banaras Hindu University) Varanasi
More Details | |

Varanasi Uttar Pradesh 58.69 30
IR-O-U-0467 National Institute of Technology Tiruchirappalli
More Details | |

Tiruchirappalli Tamil Nadu 58.60 31
IR-O-U-0747 Chandigarh University
More Details | |

Mohali Punjab 58.30 32
IR-O-U-0273 Indian Institute of Technology Indore
More Details | |

Indore Madhya Pradesh 57.31 33
IR-O-U-0357 National Institute of Technology Rourkela
More Details | |

Rourkela Odisha 57.04 34
IR-O-U-0205 Indian Institute of Technology (Indian School of Mines) Dhanbad
More Details | |

Dhanbad Jharkhand 56.97 35
IR-O-U-0222 JSS Academy of Higher Education and Research
More Details | |

Mysuru Karnataka 55.79 36
IR-O-U-0323 Savitribai Phule Pune University
More Details | |

Pune Maharashtra 55.69 37
IR-O-U-0260 Kerala University
More Details | |

Thiruvananthapuram Kerala 55.61 38
IR-O-U-0368 Jawaharlal Institute of Post Graduate Medical Education and Research
More Details | |

Puducherry Pondicherry 55.51 39
IR-O-U-0020 Koneru Lakshmaiah Education Foundation University (K L College of Engineering)
More Details | |

Vaddeswaram Andhra Pradesh 55.47 40
IR-O-U-0006 Andhra University
More Details | |

Visakhapatnam Andhra Pradesh 54.97 41
IR-O-U-0305 Indian Institute of Science Education and Research Pune
More Details | |

Pune Maharashtra 54.86 42
IR-O-I-1480 Thapar Institute of Engineering and Technology (Deemed-to-be-university)
More Details | |

Patiala Punjab 54.83 43
IR-O-U-0447 Bharathiar University
More Details | |

Coimbatore Tamil Nadu 54.81 44
IR-O-U-0379 Lovely Professional University
More Details | |

Phagwara Punjab 54.58 45
IR-O-U-0237 National Institute of Technology Karnataka, Surathkal
More Details | |

Surathkal Karnataka 54.44 46
IR-O-U-0476 Shanmugha Arts Science Technology and Research Academy
More Details | |

Thanjavur Tamil Nadu 54.14 47
IR-O-U-0378 Indian Institute of Technology Ropar
More Details | |

Rupnagar Punjab 54.12 48
IR-O-U-0497 Amity University
More Details | |

Gautam Budh Nagar Uttar Pradesh 54.04 49
IR-O-U-0458 Kalasalingam Academy of Research and Education
More Details | |

Srivilliputhur Tamil Nadu 54.02 50
IR-O-U-0253 Cochin University of Science and Technology
More Details | |

Cochin Kerala 53.99 51
IR-O-U-0329 Symbiosis International
More Details | |

Pune Maharashtra 53.93 52
IR-O-U-0025 National Institute of Technology Warangal
More Details | |

Warangal Telangana 53.74 53
IR-O-U-0263 National Institute of Technology Calicut
More Details | |

Kozhikode Kerala 53.66 54
IR-O-U-0448 Bharathidasan University
More Details | |

Tiruchirappalli Tamil Nadu 53.47 55
IR-O-U-0308 Institute of Chemical Technology
More Details | |

Mumbai Maharashtra 53.38 56
IR-O-U-0052 Gauhati University
More Details | |

Guwahati Assam 53.28 57
IR-O-U-0498 Babasaheb Bhimrao Ambedkar University
More Details | |

Lucknow Uttar Pradesh 53.26 58
IR-O-U-0564 UPES
More Details | |

Dehradun Uttarakhand 53.05 59
IR-O-U-0078 Panjab University
More Details | |

Chandigarh Chandigarh 52.99 60
IR-O-U-0572 Indian Institute of Science Education and Research Kolkata
More Details | |

Mohanpur West Bengal 52.91 61
IR-O-U-0107 Jamia Hamdard
More Details | |

New Delhi Delhi 52.83 62
IR-O-I-1110 Dr. D. Y. Patil Vidyapeeth
More Details | |

Pune Maharashtra 52.72 63
IR-O-U-0377 Indian Institute of Science Education and Research Mohali
More Details | |

Mohali Punjab 52.58 64
IR-O-I-1357 University of Madras
More Details | |

Chennai Tamil Nadu 52.58 64
IR-O-U-0098 Delhi Technological University
More Details | |

New Delhi Delhi 52.38 66
IR-O-U-0262 Mahatma Gandhi University
More Details | |

Kottayam Kerala 52.30 67
IR-O-U-0395 Indian Institute of Technology Jodhpur
More Details | |

Jodhpur Rajasthan 52.24 68
IR-O-U-0196 University of Kashmir
More Details | |

Srinagar Jammu and Kashmir 52.14 69
IR-O-U-0027 Osmania University
More Details | |

Hyderabad Telangana 52.02 70
IR-O-U-0295 Datta Meghe Institute of Higher Education and Research
More Details | |

Wardha Maharashtra 51.75 71
IR-O-U-0184 Indian Institute of Technology Mandi
More Details | |

Mandi Himachal Pradesh 51.68 72
IR-O-U-0064 Indian Institute of Technology Patna
More Details | |

Patna Bihar 51.24 73
IR-O-U-0691 All India Institute of Medical Sciences Rishikesh
More Details | |

Rishikesh Uttarakhand 51.22 74
IR-O-U-0574 Indian Statistical Institute, Kolkata
More Details | |

Kolkata West Bengal 51.10 75
IR-O-U-0435 Alagappa University
More Details | |

Karaikudi Tamil Nadu 51.07 76
IR-O-U-0334 Visvesvaraya National Institute of Technology Nagpur
More Details | |

Nagpur Maharashtra 51.03 77
IR-O-U-0272 Indian Institute of Science Education and Research Bhopal
More Details | |

Bhopal Madhya Pradesh 50.94 78
IR-O-U-0555 Graphic Era University
More Details | |

Dehradun Uttarakhand 50.58 79
IR-O-U-0381 Punjab Agricultural University
More Details | |

Ludhiana Punjab 50.55 80
IR-O-C-16604 Sri Sivasubramaniya Nadar College of Engineering
More Details | |

Kalavakkam Tamil Nadu 50.43 81
IR-O-U-0410 Malaviya National Institute of Technology
More Details | |

Jaipur Rajasthan 50.41 82
IR-O-U-0689 All India Institute of Medical Sciences Jodhpur
More Details | |

Jodhpur Rajasthan 49.94 83
IR-O-N-10 SVKM`s Narsee Monjee Institute of Management Studies
More Details | |

Mumbai Maharashtra 49.59 84
IR-O-U-0474 Sathyabama Institute of Science and Technology
More Details | |

Chennai Tamil Nadu 49.52 85
IR-O-U-0235 Mysore University
More Details | |

Mysuru Karnataka 49.45 86
IR-O-U-0195 University of Jammu
More Details | |

Jammu Jammu and Kashmir 49.40 87
IR-O-U-0523 King George`s Medical University
More Details | |

Lucknow Uttar Pradesh 48.98 88
IR-O-U-0190 Shoolini University of Biotechnology and Management Sciences
More Details | |

Solan Himachal Pradesh 48.95 89
IR-O-U-0217 Christ University
More Details | |

Bengaluru Karnataka 48.66 90
IR-O-U-0446 Bharath Institute of Higher Education and Research
More Details | |

Chennai Tamil Nadu 48.64 91
IR-O-U-0055 National Institute of Technology Silchar
More Details | |

Silchar Assam 48.55 92
IR-O-U-0577 National Institute of Technology Durgapur
More Details | |

Durgapur West Bengal 48.29 93
IR-O-U-0136 Gujarat University
More Details | |

Ahmedabad Gujarat 48.16 94
IR-O-U-0642 Shiv Nadar University
More Details | |

Gautam Buddha Nagar Uttar Pradesh 48.12 95
IR-O-I-1486 Sri Ramachandra Institute of Higher Education and Research
More Details | |

Chennai Tamil Nadu 48.10 96
IR-O-U-0003 Acharya Nagarjuna University
More Details | |

Guntur Andhra Pradesh 47.73 97
IR-O-U-0331 Tata Institute of Social Sciences
More Details | |

Mumbai Maharashtra 47.56 98
IR-O-U-0686 All India Institute of Medical Sciences Patna
More Details | |

Patna Bihar 47.55 99
IR-O-U-0470 Periyar University
More Details | |

Salem Tamil Nadu 47.43 100

In [24]:
tbl = driver.find_elements(By.XPATH,"//html/body/table").  .get_attribute('outerHTML')
df  = pd.read_html(tbl)

SyntaxError: invalid syntax (1007331447.py, line 1)

In [65]:
xp3 = xp2 + '/tbody/tr[3]/td'
print(xp3)

//table[@id='tblAllInstitutes']/tbody/tr[3]/td

In [67]:
xpe3 = driver.find_elements(By.XPATH, xp3)

In [68]:
# 3rd row of the table
for data in xpe3:
    print(data.text)

A M C College of Engineering, Bangalore
Bengaluru
Karnataka

In [25]:
xp4 = xp2 + '/tbody/tr[3]/td[1]'
print(xp4)

//table[@id='tblAllInstitutes']/tbody/tr[3]/td[1]

In [26]:
xpe4 = driver.find_elements(By.XPATH, xp4)
# 3rd row and 1st col of the table
for data in xpe4:
    print(data.text)

In [27]:
# Header
xp5 = xp2 + '/tbody/thead/tr'
print(xp5)

//table[@id='tblAllInstitutes']/tbody/thead/tr

In [28]:
xpe5 = driver.find_elements(By.XPATH, xp5)
# header row of the table
for data in xpe5:
    print(data.text)

In [29]:
#---------
df = pd.read_html(driver.page_source)[0]

/var/folders/z4/8qd93wx14xz1c9qfb_z969wc0000gn/T/ipykernel_5931/3094398582.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(driver.page_source)[0]

In [30]:
df

,Institute ID,Name,City,State,Score,Rank
0,IR-O-U-0456,Indian Institute of Technology MadrasMore Deta...,Chennai,Tamil Nadu,86.42,1
1,IR-O-U-0220,"Indian Institute of Science, BengaluruMore Det...",Bengaluru,Karnataka,83.28,2
2,IR-O-U-0306,Indian Institute of Technology BombayMore Deta...,Mumbai,Maharashtra,81.37,3
3,IR-O-I-1074,Indian Institute of Technology DelhiMore Detai...,New Delhi,Delhi,80.31,4
4,IR-O-I-1075,Indian Institute of Technology KanpurMore Deta...,Kanpur,Uttar Pradesh,77.56,5
...,...,...,...,...,...,...
95,IR-O-I-1486,Sri Ramachandra Institute of Higher Education ...,Chennai,Tamil Nadu,48.10,96
96,IR-O-U-0003,Acharya Nagarjuna UniversityMore Details | |,Guntur,Andhra Pradesh,47.73,97
97,IR-O-U-0331,Tata Institute of Social SciencesMore Details | |,Mumbai,Maharashtra,47.56,98
98,IR-O-U-0686,All India Institute of Medical Sciences PatnaM...,Patna,Bihar,47.55,99
99,IR-O-U-0470,Periyar UniversityMore Details | |,Salem,Tamil Nadu,47.43,100

In [31]:
xpF1 ='/html/body/div[2]/div[1]/div/div/div/div[2]/div/table/tbody'

In [32]:
rows=100
columns=3
df1 = pd.DataFrame()
for i in range(rows):
    s = pd.Series()
    for c in range(columns):
        s[c] = driver.find_elements(By.XPATH,f"/html/body/div[2]/div[1]/div/div/div/div[2]/div/table/tbody/tr[{i+1}]/td[{c+1}]")
    df1 = pd.concat([df1, pd.DataFrame(s) ], ignore_index=True)

In [33]:
df1

      0
0    []
1    []
2    []
3    []
4    []
..   ..
295  []
296  []
297  []
298  []
299  []

[300 rows x 1 columns]

In [34]:
from bs4 import BeautifulSoup as bs
import requests

In [35]:
r = requests.get(n24op)

In [36]:
soup = bs(r.content)

In [37]:
#print(soup.prettify())

In [38]:
table = soup.select('table#tblAllInstitutes')[0]

In [131]:
#table

In [135]:
columns = table.find('thead').find_all('th') #.text()

In [141]:
columns# .contents #.get_text()
type(columns)

bs4.element.ResultSet

In [143]:
for tag in columns:
    print(tag.text.strip())

Name
City
State

In [116]:
table_df = pd.read_html(str(table))[0]

/var/folders/z4/8qd93wx14xz1c9qfb_z969wc0000gn/T/ipykernel_63200/514477678.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table_df = pd.read_html(str(table))[0]

In [115]:
table_df.head()

,Name,City,State
0,Adv.B.D.Hambarde Mahavidyalaya Ashti,Ashti,Maharashtra
1,"IDEAL ARTS AND SCIENCE COLLEGE, CHERPULASSERY",CHERPULASSERY,Kerala
2,A G PATIL INSTITUTE OF TECHNOLOGY 18 2A2 PRATA...,Solapur,Maharashtra
3,A J Institute of Engineering and Technology Ma...,Mangaluru,Karnataka
4,"A M C College of Engineering, Bangalore",Bengaluru,Karnataka

In [117]:
from io import StringIO

In [ ]:
table_df = pd.read_html(str(table))[0]

In [126]:
table_df2 = pd.read_html(StringIO(table), match={'id':'table'})[0]

TypeError: initial_value must be str or None, not Tag