# Selenium
-   x
-

In [4]:
#!pip install selenium

In [1]:
import selenium
import pandas as pd

In [2]:
selenium.__version__
# > 4.11  update if reqd

'4.18.1'

In [3]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

In [4]:
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [5]:
service = Service()

In [6]:
options = webdriver.ChromeOptions()

In [7]:
driver = webdriver.Chrome(service =service, options=options)

In [33]:
#this works fine

In [14]:
n24or1 = 'https://www.nirfindia.org/Rankings/2024/OverallRanking.html'
n24or2 = 'https://www.nirfindia.org/Rankings/2024/OverallRanking150.html'
n24or3 = 'https://www.nirfindia.org/Rankings/2024/OverallRanking200.html'
n24op = 'https://www.nirfindia.org/Rankings/2024/OverallRankingALL.html'

In [15]:
driver.get(n24or1)

In [36]:
#driver.save_screenshot('screenshot.png')

In [16]:
rendered_html = driver.page_source

In [17]:
rendered_html[0:100]

'<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-w'

# Find Elements

In [39]:
ide = driver.find_elements(By.ID,'tblAllInstitutes')
ide

[]

In [18]:
# Find Elements by Xpath
xp1 = "//*[@id='tblAllInstitutes']"
xp2 = "//table[@id='tblAllInstitutes']"

In [40]:
xpe2 = driver.find_elements(By.XPATH,xp2)
xpe2

[]

In [22]:
type(xpe2)

list

In [23]:
for data in xpe2:
    print(data.text)

In [24]:
tbl = driver.find_elements(By.XPATH,"//html/body/table").  .get_attribute('outerHTML')
df  = pd.read_html(tbl)

SyntaxError: invalid syntax (1007331447.py, line 1)

In [65]:
xp3 = xp2 + '/tbody/tr[3]/td'
print(xp3)

//table[@id='tblAllInstitutes']/tbody/tr[3]/td

In [67]:
xpe3 = driver.find_elements(By.XPATH, xp3)

In [68]:
# 3rd row of the table
for data in xpe3:
    print(data.text)

A M C College of Engineering, Bangalore
Bengaluru
Karnataka

In [25]:
xp4 = xp2 + '/tbody/tr[3]/td[1]'
print(xp4)

//table[@id='tblAllInstitutes']/tbody/tr[3]/td[1]

In [26]:
xpe4 = driver.find_elements(By.XPATH, xp4)
# 3rd row and 1st col of the table
for data in xpe4:
    print(data.text)

In [27]:
# Header
xp5 = xp2 + '/tbody/thead/tr'
print(xp5)

//table[@id='tblAllInstitutes']/tbody/thead/tr

In [28]:
xpe5 = driver.find_elements(By.XPATH, xp5)
# header row of the table
for data in xpe5:
    print(data.text)

In [29]:
#---------
df = pd.read_html(driver.page_source)[0]

/var/folders/z4/8qd93wx14xz1c9qfb_z969wc0000gn/T/ipykernel_5931/3094398582.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(driver.page_source)[0]

In [30]:
df

,Institute ID,Name,City,State,Score,Rank
0,IR-O-U-0456,Indian Institute of Technology MadrasMore Deta...,Chennai,Tamil Nadu,86.42,1
1,IR-O-U-0220,"Indian Institute of Science, BengaluruMore Det...",Bengaluru,Karnataka,83.28,2
2,IR-O-U-0306,Indian Institute of Technology BombayMore Deta...,Mumbai,Maharashtra,81.37,3
3,IR-O-I-1074,Indian Institute of Technology DelhiMore Detai...,New Delhi,Delhi,80.31,4
4,IR-O-I-1075,Indian Institute of Technology KanpurMore Deta...,Kanpur,Uttar Pradesh,77.56,5
...,...,...,...,...,...,...
95,IR-O-I-1486,Sri Ramachandra Institute of Higher Education ...,Chennai,Tamil Nadu,48.10,96
96,IR-O-U-0003,Acharya Nagarjuna UniversityMore Details | |,Guntur,Andhra Pradesh,47.73,97
97,IR-O-U-0331,Tata Institute of Social SciencesMore Details | |,Mumbai,Maharashtra,47.56,98
98,IR-O-U-0686,All India Institute of Medical Sciences PatnaM...,Patna,Bihar,47.55,99
99,IR-O-U-0470,Periyar UniversityMore Details | |,Salem,Tamil Nadu,47.43,100

In [31]:
xpF1 ='/html/body/div[2]/div[1]/div/div/div/div[2]/div/table/tbody'

In [32]:
rows=100
columns=3
df1 = pd.DataFrame()
for i in range(rows):
    s = pd.Series()
    for c in range(columns):
        s[c] = driver.find_elements(By.XPATH,f"/html/body/div[2]/div[1]/div/div/div/div[2]/div/table/tbody/tr[{i+1}]/td[{c+1}]")
    df1 = pd.concat([df1, pd.DataFrame(s) ], ignore_index=True)

In [33]:
df1

      0
0    []
1    []
2    []
3    []
4    []
..   ..
295  []
296  []
297  []
298  []
299  []

[300 rows x 1 columns]

In [34]:
from bs4 import BeautifulSoup as bs
import requests

In [35]:
r = requests.get(n24op)

In [36]:
soup = bs(r.content)

In [37]:
#print(soup.prettify())

In [38]:
table = soup.select('table#tblAllInstitutes')[0]

In [131]:
#table

In [135]:
columns = table.find('thead').find_all('th') #.text()

In [141]:
columns# .contents #.get_text()
type(columns)

bs4.element.ResultSet

In [143]:
for tag in columns:
    print(tag.text.strip())

Name
City
State

In [116]:
table_df = pd.read_html(str(table))[0]

/var/folders/z4/8qd93wx14xz1c9qfb_z969wc0000gn/T/ipykernel_63200/514477678.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table_df = pd.read_html(str(table))[0]

In [115]:
table_df.head()

,Name,City,State
0,Adv.B.D.Hambarde Mahavidyalaya Ashti,Ashti,Maharashtra
1,"IDEAL ARTS AND SCIENCE COLLEGE, CHERPULASSERY",CHERPULASSERY,Kerala
2,A G PATIL INSTITUTE OF TECHNOLOGY 18 2A2 PRATA...,Solapur,Maharashtra
3,A J Institute of Engineering and Technology Ma...,Mangaluru,Karnataka
4,"A M C College of Engineering, Bangalore",Bengaluru,Karnataka

In [117]:
from io import StringIO

In [ ]:
table_df = pd.read_html(str(table))[0]

In [126]:
table_df2 = pd.read_html(StringIO(table), match={'id':'table'})[0]

TypeError: initial_value must be str or None, not Tag