# Jan 2025
- Functions
    - https://www.linkedin.com/feed/update/urn:li:activity:7279874647381159936/

In [1]:
import pandas as pd

In [2]:
from pydataset import data

In [3]:
mtcars = data('mtcars')
mtcars.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [8]:
label = ['Q1','Q2', 'Q3','Q4']

In [9]:
df = mtcars

In [12]:
df['mpg_level'] = pd.qcut(df['mpg'], q=4, labels=label)
df['wt_level'] = pd.qcut(df['wt'], q=4, labels=label)
df['hp_level'] = pd.qcut(df['hp'], q=4, labels=label)

In [16]:
df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,mpg_level,wt_level,hp_level
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,Q3,Q2,Q2
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,Q3,Q2,Q2
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,Q3,Q1,Q1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,Q3,Q2,Q2
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,Q2,Q3,Q3

In [14]:
# function tools
from functools import partial

In [15]:
quartile_bin = partial(pd.qcut, q=4, labels = label)
quartile_bin

functools.partial(<function qcut at 0x160bba160>, q=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])

In [17]:
df['mpg_level2'] = quartile_bin(df['mpg'])
df['wt_level2']  = quartile_bin(df['wt'])
df['hp_level2']  = quartile_bin(df['hp'])

In [19]:
df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,mpg_level,wt_level,hp_level,mpg_level2,wt_level2,hp_level2
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,Q3,Q2,Q2,Q3,Q2,Q2
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,Q3,Q2,Q2,Q3,Q2,Q2
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,Q3,Q1,Q1,Q3,Q1,Q1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,Q3,Q2,Q2,Q3,Q2,Q2
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,Q2,Q3,Q3,Q2,Q3,Q3

In [21]:
# Easy to create different binning strategies
quintile_bin = partial(pd.qcut, q=5, labels=["Bottom", "Low", "Mid", "High", "Top"])

In [22]:
df['mpg_level3'] = quintile_bin(df['mpg'])
df['wt_level3']  = quintile_bin(df['wt'])
df['hp_level3']  = quintile_bin(df['hp'])

In [27]:
df[['mpg_level2','wt_level2', 'hp_level2', 'mpg_level3','wt_level3', 'hp_level3']].head()

,mpg_level2,wt_level2,hp_level2,mpg_level3,wt_level3,hp_level3
Mazda RX4,Q3,Q2,Q2,Mid,Low,Low
Mazda RX4 Wag,Q3,Q2,Q2,Mid,Low,Low
Datsun 710,Q3,Q1,Q1,High,Bottom,Bottom
Hornet 4 Drive,Q3,Q2,Q2,High,Mid,Low
Hornet Sportabout,Q2,Q3,Q3,Mid,Mid,High

## Password and user name safe in python
- https://codecut.ai/store-sensitive-information-securely-in-python-with-env-files
- https://github.com/theskumar/python-dotenv/tree/main
- Got to Project Root Dir
    - $ pip install "python-dotenv[cli]"
    - $ dotenv set USER foo
    - $ dotenv set EMAIL foo@example.org
    - $ dotenv list
    - USER=foo
    - EMAIL=foo@example.org

In [55]:
from dotenv import load_dotenv

In [56]:
import os

In [57]:
%load_ext dotenv

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [58]:
%dotenv

In [59]:
PASSWORD = os.getenv('PASSWORD')
DOMAIN = os.getenv('DOMAIN')
USERNAME = os.getenv('USER')
EMAIL = os.getenv('EMAIL')

In [60]:
print(EMAIL, USERNAME, DOMAIN)

foo@example.org du amity.edu

In [50]:
print(USERNAME)

du

## Nested IF : Dictionaries
-  https://codecut.ai/dict-get-get-the-default-value-of-a-dictionary-if-a-key-doesnt-exist

In [63]:
# Checking dictionary values with multiple if-else
user_data = {"name": "Alice", "age": 30}

In [62]:
user_data

{'name': 'Alice', 'age': 30}

In [64]:
if "name" in user_data:
    name = user_data["name"]
else:
    name = "Unknown"

In [67]:
if "email" in user_data:
    email = user_data["email"]
else:
    email = "no-email@example.com"

In [68]:
print(f"{name=}")

name='Alice'

In [69]:
print(f"{email=}")

email='no-email@example.com'

In [70]:
# Concise way to handle missing values
name = user_data.get("name", "Unknown")
age = user_data.get("age", 0)
email = user_data.get("email", "no-email@example.com")

In [71]:
print(f"{name=}")
print(f"{age=}")
print(f"{email=}")

name='Alice'
age=30
email='no-email@example.com'